html{height:100%;border:none;}
body{border:none; padding:0; margin:0; font-size:15px;font-family:微软雅黑;}
div,ul,li,img{ padding:0; margin:0; border:none;}
ul{ list-style-type:none;}

/*---------------------------------------------*/
/*有机米查询系统*/
*{
	margin:0px;
	padding:0px;
	
}
#all{
	width:510px;
	margin:0 auto;
	min-height:200px;
	font-size:14px;
	font-family:宋体;
	
}
#head{
	width:510px;
	height:117px;
	background:url("../images/head.png") no-repeat center center;
	margin-top:10px;
}
#head a{
	width:510px;
	height:117px;
	display:block;
	text-indent:-3000px;
}
#menu{
	margin:5px auto;
	width:510px;
	height:23px;
	background:#ff0;
	line-height:23px;
	/* border:1px solid #ff0; */
}
#menu a{
	color:#00A600;
	display:block;
	width:60px;
	/* border:1px solid #f00; */
	text-decoration:none;
	text-align:center;
}
#menu a:hover{
	border-bottom:2px solid #FF5809;
}
#menu li{
	float:left;
	/* border:1px solid #000; */
	width:60px;
	list-style-type:none;
	
}
#info{
	width:510px;
	height:auto;
	background:#8DE5F7;
	
	
}

#text{
	border:0px;
	width:290px;
	height:38px;
	background:#8DE5F7;
	font-size:20px;
	margin-left:4px;
	margin-top:1px;
	line-height:38px;
}
#check_title{
	display:block;
	width:136px;
	height:38px;
	background:#FFC000;
	font-weight:700;
	line-height:38px;
	text-align:center;
}
#check_title,#text{
	float:left;
}
#submit{
	width:70px;
	height:38px;
	margin-left:5px;
	background:#00B0F0;
	border:0px;
	font-weight:700;
}
#p{
	width:503px;
	height:auto;
	margin:0 auto;
	min-height:10px;
	margin:0px 3px 0px 3px;		
}
#p table a{
	display:block;
	text-align:center;
}
#p table a:hover{
	background-color:#FF8000	;
}
 #td_1{
	width:200px;
	border:1px solid #66B3FF;
	text-align:center;
}
#td_2{
	width:150px;
	border:1px solid #66B3FF;
	text-align:center;
}
#td_3{
	width:150px;
	border:1px solid #66B3FF;
	text-align:center;
}

#p ul li{
	float:left;	
}
#p a:link,a:visited{ color:#000; text-decoration:none;}
#p a:hover,a:active{ color:#000; text-decoration:none;}
.p_1{
	width:70px;
	height:25px;
	line-height:25px;
	text-align:center;
	background:#00B0F0;
	float:left;
}
.p_1 a:link,a:visited{ color:#000; text-decoration:none;}
.p_1 a:hover,a:active{ color:#000; text-decoration:none;}
.p_2{
	width:30px;
	height:23px;
	line-height:25px;
	text-align:center;
	background:#fff;
	border:1px solid #c9c9c8;
	float:left;
}
.p_2 a:link,a:visited{text-decoration:none;}
.p_2 a:hover,a:active{text-decoration:none;}
#footer{
	margin:0 auto;
	margin-top:30px;
	width:273px;
	height:37px;
	
	background:url("../images/footer.png") no-repeat center center;
	text-indent:-3000px;
}